<section class="activity" id="activity">
  <div class="title-container">
    <h2 class="blue">
          <span class="indent">
            Nos <br>
          </span>
      <span>
          Différentes <br>
          </span>
      <span class="indent-2">
          Activités
          </span>
    </h2>
  </div>

  <div class="card-container">
    {% for activities in activity %}
      <div class="card-product" data-image ="{{ Image(activities.custom.thumbnail).src  }}" style="background-image: url({{ Image(activities.custom.thumbnail).src }})">
        <div class="overlay">

        </div>
        <div class="card-wrapper">
          <div class="card-title">
            <h3>
              {{ activities.titleTop }}
              <br>
              {{ activities.titleBottom }}
            </h3>
          </div>
          <div class="card-text-content">
            <p>
              {{ activities.excerpt }}
            </p>
          </div>
        <div class="card-button">
          <a class="call-to-action" href="pro/activities/{{ activities.slug }}">
            Explorer
          </a>
        </div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

