<div class="menu-nav">

  <div class="menu-action" id="burger">
  <div class="title">

    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.29932 4.81195L2.3193 4.83143L2.29932 4.81195ZM12.0913 0C15.9881 0.0194816 19.4453 1.87023 21.6035 4.69506C18.3062 5.26003 15.4086 6.5653 13.4902 9.68235C14.2096 6.6627 14.5493 3.56513 12.0913 0Z" fill="#3A7498"/>
      <path d="M21.7416 4.87036C23.1604 6.77956 23.9997 9.13683 23.9997 11.6889C21.202 10.7538 17.2453 10.6564 14.6074 11.611C17.6849 10.2668 20.023 7.98741 21.7416 4.87036Z" fill="#3A7498"/>
      <path d="M23.98 12.0393C23.9201 14.2018 23.2606 16.2084 22.1415 17.9227L21.6219 18.6241C20.6228 16.5006 19.1639 14.7278 16.7859 13.2472C19.2439 13.7342 21.6219 13.1108 23.98 12.0393Z" fill="#3A7498"/>
      <path d="M2.29932 4.81195L2.3193 4.85091C6.33601 5.3964 9.4135 7.46144 10.7124 9.52649C9.05379 4.28595 11.292 2.08453 11.5717 0C7.75485 0.136371 4.3976 2.0066 2.29932 4.81195Z" fill="#3A7498"/>
      <path d="M2.3181 4.85054L2.29812 4.83105C0.859297 6.74025 0 9.117 0 11.6886C0 11.8639 0 12.0587 0 12.2341C2.65783 10.8119 7.0942 10.8119 10.1717 11.4743C6.43474 10.208 3.83686 7.98707 2.3181 4.85054Z" fill="#3A7498"/>
      <path d="M2.25798 18.5074C2.11809 18.332 1.99819 18.1372 1.87829 17.9424C0.819157 16.3254 0.159697 14.4357 0.0397949 12.3901C2.85749 13.5006 5.37543 13.8318 7.57363 13.4032C5.25553 15.137 3.87666 17.1436 2.79754 19.2087L2.25798 18.5074Z" fill="#3A7498"/>
      <path d="M20.4234 20.2997C18.3451 22.5401 15.3676 23.9428 12.0303 23.9428C8.53315 23.9428 5.43569 22.4037 3.3374 19.988L7.71382 16.4813L8.27336 17.0073L12.0103 13.5591L14.5482 16.0527L15.3676 15.3124L21.1428 19.4425L20.4234 20.2997Z" fill="#3A7498"/>
    </svg>
    <h1>
      <span class="green">Buddy</span>
      <span class="blue">Belgium</span>
    </h1>
  </div>
    <div id="burger__menu">
      menu <span class="green">.</span>
    </div>
  </div>
</div>

<nav id="menu-burger">
  <ul class="nav-main">
    {% for item in menu.items %}
      <li class="nav-main-item {{ item.classes|join(' ') }}">
        <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
        {% if item.children %}
          <ul class="nav-drop">
            {% for child in item.children %}
              <li class="nav-drop-item">
                <a href="{{ child.link }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
