{% extends getf('base') %}
{% import getf('productsList.slider') as slider %}
{% block body %}
  <section class="grey">

  <div id="category" >
    <div class="category__headline">
      <div class="category__headline__wrapper-image">
        <img class="category__headline__image" src="{{ Image(category.image).src }}" alt="">
      </div>
      <div class="category__headline__information">
        <div class="category__headline__information__title-container">
          <h2 class="category__headline__information__title blue">{{ category.name }}</h2>
        </div>
        <div class="category__headline__description-container">
          <p class="category__headline__description">
            {{ category.description }}
          </p>
        </div>
      </div>
    </div>


<div>
  <div class="product-list">
          <ul class="marques__scroll-menu__list">
            {% for product in category.products %}
              <li class="marques__scroll-menu__list__link">
                <a href="{{ site.url }}/pro/products/{{ product.slug }}">
                  <img src={{ Image(product.product_image).src }}>

                  <p>
                    {{ product.name }}
                  </p>


                </a>

              </li>
            {% endfor %}
          </ul>
        </div>
</div>

    {#  {{ slider.productsList(category.products) }}#}
  </section>
{% endblock body %}


